.highlight{
 fill:red   
}
#hoverOver{
    position: absolute;
    width: 200px;
    height: auto;
    padding: 10px;
    background-color: red;

}
#hoverOver.hidden{
    display: none;
}

svg {
    border: solid;
    border-color: rgb(172,212,49);
}
h1 {
    font-style:normal;
    color:red
}
.bar{
    fill:green;
}